{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% if participant is defined %}
        {% if is_granted("ROLE_USER") %}
            <h1 class="text-center text-4xl mb-6">{{ participant.compte.pseudo }}</h1>
        {% endif %}
        <div class="flex justify-center my-2 md:px-2 pt-20 shadow-2xl rounded-lg p-10 w-2/3 mx-auto">
            <div class="flex">
                <div class="detailsProfileImg">
                    {% if participant.urlPhoto %}
                    <div class="blockImg">
                        <img class="mask mask-squircle" src="{{ asset('uploads/' ~ participant.urlPhoto) }}" alt="Photo de profil">
                        {% else %}
                            <img class="mask mask-squircle" src="https://fakeimg.pl/350x200/?" alt="Fake photo">
                    {% endif %}
                    </div>
                </div>
                <div class="detailsProfileTxt">
                    <ul class="list-inside mb-6 justify-between md:justify-start mx-16 text-xl w-full">
                        <li class="mb-6 flex items-center">
                            <span class="mr-auto">Prénom:</span>
                            <span class="ml-auto">{{ participant.prenom }}</span>
                        </li>
                        <li class="mb-6 flex items-center">
                            <span class="mr-auto">Nom:</span>
                            <span class="ml-2">{{ participant.nom }}</span>
                        </li>
                        <li class="mb-6 flex items-center">
                            <span class="mr-auto">Téléphone :</span>
                            <span class="ml-4">{{ participant.telephone }}</span>
                        </li>
                        <li class="mb-6 flex items-center">
                            <span class="mr-auto">Email:</span>
                            <span class="ml-4">{{ participant.compte.email }}</span>
                        </li>
                        <li class="mb-6 flex items-center">
                            <span class="mr-auto">Site de rattachement :</span>
                            <span class="ml-4">{{ participant.site.nom }}</span>
                        </li>
                    </ul>
                    <div class="flex justify-center my-10">
                        <a href="{{ path('app_home') }}" class="py-2 px-4 ml-4 btn btn-error hover:bg-red-300">Retour</a>
                        {% if app.user.id == participant.id or is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('manage_profile', {'id':participant.id}) }}" class="py-2 px-4 ml-4 btn btn-info hover:bg-blue-300">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
