{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl mb-6">Mon profil</h1>
    <div class="flex  mb-3 profileForm">

        {{ form_start(profileForm) }}
        <div class="mb-3 flex justify-between">
            {{ form_label(profileForm.compte) }}
            {{ form_widget(profileForm.compte) }}
            {{ form_errors(profileForm.compte) }}
        </div>

        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.prenom) }}
            {{ form_widget(profileForm.prenom) }}
            {{ form_errors(profileForm.prenom) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.nom) }}
            {{ form_widget(profileForm.nom) }}
            {{ form_errors(profileForm.nom) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.telephone) }}
            {{ form_widget(profileForm.telephone) }}
            {{ form_errors(profileForm.telephone) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.email) }}
            {{ form_widget(profileForm.email) }}
            {{ form_errors(profileForm.email) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.motDePasse) }}
            {{ form_widget(profileForm.motDePasse) }}
            {{ form_errors(profileForm.motDePasse) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.motDePasse2) }}
            {{ form_widget(profileForm.motDePasse2) }}
            {{ form_errors(profileForm.motDePasse2) }}
        </div>
        <div class="group mb-3 flex justify-between">
            {{ form_label(profileForm.site) }}
            {{ form_widget(profileForm.site) }}
            {{ form_errors(profileForm.site) }}
        </div>

        <div class="group mb-3 flex justify-between">
            <button name="save" class="bg-green-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Enregistrer</button>
            <button name="cancel" class="bg-red-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Annuler</button>
        </div>
        {{ form_end(profileForm) }}
    </div>

{% endblock %}
