{% extends 'base.html.twig' %}

{% block title %}Enregistrer un utilisateur{% endblock %}

{% block body %}
{#    {% for flash_error in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>#}
{#    {% endfor %}#}
    {% for flashMessage in app.flashes() %}
        {% for message in flashMessage %}
            <div class="alert alert-{{ flashMessage.type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <h1 class="text-center text-4xl mb-6">Enregistrer un utilisateur</h1>
    <div class="w-1/5 mx-auto">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        <div>
            <div class="mb-3 flex justify-between">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo) }}
            </div>
            {{ form_errors(registrationForm.pseudo) }}
        </div>
        <div>
            <div class="mb-3 flex justify-between">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div>
            {{ form_errors(registrationForm.email) }}
        </div>
        <div>
            <div class="mb-3 flex justify-between">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="mb-3 flex justify-between">
            <label for="lastName">Nom :</label>
            <input class="registrationForm" id="lastName" name="lastName" type="text">
        </div>
        <div class="mb-3 flex justify-between">
            <label for="firstName">Prénom :</label>
            <input class="registrationForm" id="firstName" name="firstName" type="text">
        </div>
        <div class="mb-3 flex justify-between">
            <label for="tel">Téléphone :</label>
            <input class="registrationForm" id="tel" name="tel" type="text">
        </div>
        <div class="mb-3 flex justify-between">
            <label for="site-select">Site :</label>
            <select class="registrationForm" name="site" id="site-select">
                <option value="1">Nantes</option>
                <option value="2">Rennes</option>
                <option value="3">Quimper</option>
                <option value="4">Niort</option>
                <option value="5">Paris</option>
            </select>
        </div>
        <div class="mb-3 flex justify-center">
            <button type="submit" class="btn">Valider</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
    </div>
{#    formulaire pour uplod un fichier CSV#}
    <div class="mt-3">
        <div class="my-10 flex flex-col text-center">
            <h2 class="text-xl">Ou choisir un fichier CSV</h2>
            {{ form_start(registrationCSV) }}
            {{ form_widget(registrationCSV.csvFile, {'attr': {'class': 'your-class'}}) }}
            {{ form_errors(registrationCSV.csvFile) }}
            {{ form_row(registrationCSV._token) }}
            <button type="submit" class="btn">Soumettre</button>
            {{ form_end(registrationCSV) }}
        </div>
    </div>

{% endblock %}
