{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script
        type="text/javascript"
        src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>

<h1 class="text-right">Date du jour : {{ "now"|date("d/m/Y") }}</h1>
<h1 class="text-right">Participant : {{ user.prenom }} {{ user.nom }}</h1>
<h1>Filtrer les sorties</h1>
<br>

    {{ form_start(filterForm) }}

    {#    Coter Gauche  #}

    <div style="float:left;width:50%;">

            {# Select site #}
            <div class="flex items-center">
                <p class=" inset-y-0 flex items-center">Site : </p>
                {{ form_widget(filterForm.site, {'attr': {'class': 'select w-full max-w-xs input-bordered ml-36'}}) }}
            </div>

            {# Recherche #}
            <div class="flex items-center mt-2">
                <p class="inset-y-0 flex items-center">Le nom de la sortie contient : </p>
                {{ form_widget(filterForm.nomSortie, {'attr': {'class': 'input w-full max-w-xs input-bordered ml-5', 'placeholder': 'recherche'}}) }}
            </div>

            {# Calendrier #}
            <div class="flex items-center mt-2">
                <p>Entre :</p>
                <div class=" ml-2">
                    {{ form_widget(filterForm.dateStart, {'attr': {'class': 'input w-full max-w-xs input-bordered', 'id': 'dateStart'}}) }}
                </div>
                <p class="ml-2">et</p>
                <div class=" ml-2">
                    {{ form_widget(filterForm.dateEnd, {'attr': {'class': 'input w-full max-w-xs input-bordered', 'id': 'dateEnd'}}) }}
                </div>
            </div>
        </div>

    <script>
        document.getElementById("filter_home_dateStart").addEventListener("change", function() {
            document.getElementById("filter_home_dateEnd").min = this.value;
        });
        document.getElementById("filter_home_dateEnd").addEventListener("change", function() {
            document.getElementById("filter_home_dateStart").max = this.value;
        });
    </script>

        {# Coter Droit  #}
        <div style="float:left;width:30%;">
            <div class="ml-5">
                <div class="flex items-center">
                    <label class="label cursor-pointer">
                        {{ form_widget(filterForm.isOrganisateur, {'attr': {'class': 'checkbox'}}) }}
                        <span class="label-text ml-2">Sorties dont je suis l'organisateur/trice</span>
                    </label>
                </div>
                <div class="flex items-center">
                    <label class="label cursor-pointer">
                        {{ form_widget(filterForm.isInscrit, {'attr': {'class': 'checkbox'}}) }}
                        <span class="label-text ml-2">Sortie auxquelles je suis inscrit/e</span>
                    </label>
                </div>
                <div class="flex items-center">
                    <label class="label cursor-pointer">
                        {{ form_widget(filterForm.isNotInscrit, {'attr': {'class': 'checkbox'}}) }}
                        <span class="label-text ml-2">Sorties auxquelles je ne suis pas inscrit/e</span>
                    </label>
                </div>
                <div class="flex items-center">
                    <label class="label cursor-pointer">
                        {{ form_widget(filterForm.isPassed, {'attr': {'class': 'checkbox'}}) }}
                        <span class="label-text ml-2">Sorties passées</span>
                    </label>
                </div>
            </div>
        </div>

        {# boutton de recherche tout a droit #}
        <div style="float:left;width:20%;">
            {{ form_widget(filterForm.search, {'attr': {'class': 'btn'}}) }}
        </div>

    {{ form_end(filterForm) }}

    <div style="clear: both;"></div>
    <br>

{#    Tableau#}
    <div class="overflow-x-auto h-96">
        <table class="table table-pin-rows table-pin-cols">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateDebut.format('d-m-Y H:i:s') }}</td>
            <td>{{ sortie.dateCloture.format('d-m-Y') }}</td>
            <td> {{ inscriptionsTotals[sortie.id] }} / {{ sortie.nbInscriptionsMax }} </td>
            <td>{% for etat in etats %}
                    {% if etat.id == sortie.etatSortie %}
                        {{ etat.libelle }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% set checkbox = true %}
                {% for inscription in inscriptions %}
                    {% if sortie.id == inscription %}
                        <input type="checkbox" checked="checked" class="checkbox checkbox-xs" disabled />
                        {% set checkbox = false %}
                    {% endif %}
                {% endfor %}
                {% if checkbox %}
                    <input type="checkbox" class="checkbox checkbox-xs" disabled />
                {% endif %}
            </td>
            <td>{% for participant in participants %}
                    {% if participant.id == sortie.organisateur %}
                        {{ participant.prenom }} {{ participant.nom }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
{#                <a href="{{ path('app_', { 'id': sortie.id }) }}">Afficher</a>#}
                {% if checkbox and sortie.organisateur != user.id %}
                    - <a href="{{ path('app_home', {'inscrie': sortie.id}) }}">S'inscrire</a>
                {% elseif checkbox == false %}
                    - <a href="{{ path('app_home', {'desister': sortie.id}) }}">Se désister</a>
                {% elseif sortie.organisateur == user.id %}
                    {% if sortie.etat.id == 1 %}
{#                        - <a href="{{ path('app_', { 'id': sortie.id }) }}">Publier</a>#}
                    {% else %}
                        - <a href="{{ path('app_remove', { 'id': sortie.id }) }}">Annuler</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br>
{#    Boutton#}
    <a href="{{ path('app_create') }}"><button class="btn">Créer une sortie</button></a>

{% endblock %}
