{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="flex flex-col items-center">
        <div class="overflow-x-auto">
            <table class="table table-pin-rows table-pin-cols">
                <thead>
                <tr>
                    <td>Nom Prénom</td>
                    <td>Email</td>
                    <td>Pseudo</td>
                    <td>Roles</td>
                    <td>Etat</td>
                    <td>Activer/Désactiver</td>
                    <td>Suprimer</td>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.nom }}, {{ participant.prenom }}</td>
                        <td>{{ participant.getcompte.email }}</td>
                        <td>{{ participant.getcompte.pseudo }}</td>
                        <td>{{ participant.getcompte.roles[0] }}</td>
                        <td>
                            {% if participant.getcompte.isVerified %}
                                ✔
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                        <td>
                            {% if participant.getcompte.isVerified %}
                                <a href="{{ path('app_disable', {'id': participant.id}) }}" class="btn btn-warning">Désactiver</a></td>
                            {% else %}
                                <a href="{{ path('app_disable', {'id': participant.id}) }}" class="btn btn-success">Activer</a></td>
                            {% endif %}
                        <td>
                            <button id="openModal_{{ participant.id }}" type="button" class="btn btn-error">Supprimer</button>
                            <dialog id="my_modal_{{ participant.id }}" class="modal">
                                <div class="modal-box">
                                    <h3 class="font-bold text-lg">Hello!</h3>
                                    <p class="py-4">Êtes vous sûr de vouloir supprimer {{ participant.getcompte.pseudo }} ?</p>
                                    <div class="modal-action">
{#                                        <button class="btn btn-error" data-id="{{ participant.id }}">Supprimer User</button>#}
{#                                        <button class="btn btn-error delete-user" data-id="{{ participant.id }}">Supprimer User</button>#}
                                        <a href="{{ path('app_delete', {'id': participant.id}) }}" class="btn btn-error">Supprimer User</a>
                                        <button id="closeModal_{{ participant.id }}" type="button" class="btn">Fermer</button>
                                    </div>
                                </div>
                                <div method="dialog" class="modal-backdrop">
                                    <button id="backdropClose_{{ participant.id }}" type="button">close</button>
                                </div>
                            </dialog>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
